NEXT_PUBLIC_SUPABASE_URL=https://cbwxgsfxkjgeuklnokzv.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNid3hnc2Z4a2pnZXVrbG5va3p2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk4NTA0NzIsImV4cCI6MjA5NTQyNjQ3Mn0.vNrVdTrhkRYkkn4tx83bu_tGvhnOaQ7dzE4fDO1JIWo
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNid3hnc2Z4a2pnZXVrbG5va3p2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk4NTA0NzIsImV4cCI6MjA5NTQyNjQ3Mn0.vNrVdTrhkRYkkn4tx83bu_tGvhnOaQ7dzE4fDO1JIWo
